{% load staticfiles %}

<head>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 

	<!-- My CSS file -->
	<link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>

<body>
	<center>
		<div class="jumbotron">
			<ol class="breadcrumb">
				<li><a href="./">Home</a></li>
				<li class="active">Form</li>
				<li><a href="./guidelines.html">Guidelines</a></li>
			</ol>
			<h1> CRISPR sgRNA Design Tool </h1>
			<form method='POST'>
				{% csrf_token %}
				Gene ID: <input type="text" name="locus" id="locus" placeholder="Accession or GI number"> <br/>
				Range: <input type="text" name="start" placeholder="1"> 
				<input type="text" name="end" placeholder="200"><br/>
				<label class="radio-inline"><input type="radio" name="crispr_type" value="entire">Entire Gene</label>
				<label class="radio-inline"><input type="radio" name="crispr_type" value="activation">Activation</label>
				<label class="radio-inline"><input type="radio" name="crispr_type" value="repression">Repression</label>
				<br/>
				or </br>
				Sequence: <textarea name="singleSeq" cols="50" rows="5"> </textarea> <br/>
				<select name="species" class="form-control"> 
					<option>Human</option>
					<option>Mouse</option>
				</select>
				<input class="btn btn-default" type="submit" value="Search">
			</form>
		</div>

		{% if seq and sgRNAInfo %}
		<div class="wordbreak"
		<div class="row">
			<div class="col-md-12">{{ seq }}</div>
		</div>
	</div>

	<table class="table table-striped">
		<tr>
			<td><strong>DNA Complement + PAM</strong></td>
			<td><strong>Activity Score</strong></td>
			<td><strong>Cut Point</strong></td>
			<td><strong>0 mismatch</strong></td>
			<td><strong>1 mismatch</strong></td>
			<td><strong>2 mismatch</strong></td>
			<td><strong>3 mismatch</strong></td>
		</tr>
		{% for sgRNA in sgRNAInfo %}
		<tr>
			<td>{{ sgRNA.0 }} {{ sgRNA.1 }}</td>
			<td>{{ sgRNA.2 }}</td>
			<td>{{ sgRNA.3 }}</td>
			<td>{{ sgRNA.4 }}</td>
			<td>{{ sgRNA.5 }}</td>
			<td>{{ sgRNA.6 }}</td>
			<td>{{ sgRNA.7 }}</td>
		</tr>
	{% endfor %}
	</table>

	{% endif %}


</center>
</body>