{% load staticfiles %}

<head>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 

	<!-- My CSS file -->
	<link rel="stylesheet" href="{% static 'css/guidelines.css' %}">

</head>

<body>
	<center>
		<div class="jumbotron">
			<ol class="breadcrumb">
				<li><a href="./">Home</a></li>
				<li><a href="./form.html">Form</a></li>
				<li class="active">Guidelines</li>
			</ol>
			<h1> CRISPR sgRNA Design Tool </h1>
			Input linear DNA sequence
		</div>
</center>
</body>